.userprofile-container {
  height: 16rem;
  margin: 1rem 0 2rem 0;
  border-radius: 2rem;
  padding: 1rem;
  padding-top: 8.5rem;
  padding-left: 12.5rem;
  background: linear-gradient(#213555 50%, #d1f3f9 50%);
  position: relative;
}

.userpost-container {
  /* max-height: 1500%; */
  border-radius: 2rem;
  background-color: #dee4ec7e;
  padding: 2rem 3rem;
  /* overflow-y: scroll; */
}

.userpost-container-header {
  display: flex;
  justify-content: space-between;
  height: 3.5rem;
  border-bottom: 1px solid #c6cbd3;
}

.user-post-and-announcements {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-around;
}

.user-post {
  width: 53%;
  height: 35rem;
  overflow-y: scroll;
}

.user-post::-webkit-scrollbar-thumb {
  background: rgba(7, 7, 7, 0);
  border-radius: 10px;
}

.user-announcement {
  width: 43%;
  height: 35rem;
  /* background-color: #c6cbd3a3; */
  /* border-radius: 1rem; */
  padding: 0 1.7rem 1rem 1.7rem;
  border-right: 1px solid rgba(128, 128, 128, 0.262);
  overflow-y: scroll;
}

.user-announcement::-webkit-scrollbar-thumb {
  background: rgba(7, 7, 7, 0);
  border-radius: 10px;
}

.userprofile-createpost-announce-container {
  display: flex;
  height: 2rem;
}

.--userprofile {
  overflow-y: scroll;
  padding: 2rem;
}

.bio {
  font-size: 1.2rem;
  overflow-wrap: break-word;
}

.empty {
  text-align: center;
}
