.post-skeleton {
  width: 100%;
  min-height: 13rem;
  padding: 1rem;
  border-radius: 1rem;
  /* border: 1px solid rgba(128, 128, 128, 0.112); */
  background-color: hsla(189, 53%, 85%, 0.42);
  margin-bottom: 1.5rem;
}

.--comment-skel {
  background-color: #74747411;
  /* border: 1px solid #4f709c28; */
}

.--announcememt-skel {
  margin-bottom: 1rem;
  min-height: 9rem;
}

.right-col {
  flex: 1;
  margin-left: 1rem;
}

.post-author-skeleton {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
}

.post-content-skeleton {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(128, 128, 128, 0.472);
  margin-top: 1rem;
}

.post-interaction-skeleton {
  margin-top: 1rem;
}

.skeleton {
  animation: skeletonLoading 1s linear infinite alternate;
  margin-bottom: 0.5rem;
  border-radius: 0.2rem;
}

.--comment-skeleton {
  animation: commentSkeletonLoading 1s linear infinite alternate;
}

/* baseColor="#0cbfdf45" highlightColor="#c8fdff4e" */
@keyframes skeletonLoading {
  0% {
    background-color: #0cbfdf15;
  }

  100% {
    background-color: #0cbfdf7c;
  }
}

@keyframes commentSkeletonLoading {
  0% {
    background-color: rgba(128, 128, 128, 0.182);
  }

  100% {
    background-color: rgba(128, 128, 128, 0.377);
  }
}
