.replies-container {
  padding: 1.5rem 2rem;
  min-height: 1rem;
}

.reply {
  margin-bottom: 1rem;
  border: 1px solid #4f709c;
  padding: 1rem;
  border-radius: 1rem;
  position: relative;
}
